* {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    position: relative;
    background-color: #1e1e1e;
    height: 100%;
}

.heading {
    text-align: center;
    color: #d4d4d4;
}

.game {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 35em;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    border: 1px solid white;
    background-color: #0e0e0e;
    width: 30em;
    height: 10em;
}

#number {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 4em;
}

.score {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2em;
    border: 1px solid white;
}

#answer {
    border: 1px solid white;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
}

#start-button {
    border: 1px solid white;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5em;
    font-size: 2em;
}

#submit-button {
    border: 1px solid white;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5em;
    font-size: 2em;
    display: none;
}

